* {
    box-sizing: border-box;
}
:root {
    --bg--color: #10375c;
}

html {
    font-size: 62.5%;
    font-family: "Sora", sans-serif;
}

body {
    font-size: 1.6rem;
}

/* Common */
.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}
a {
    text-decoration: none;
}

.btn {
    min-width: 104px;
    padding: 0 20px;
    border: none;
    color: #fff;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 400;
    border-radius: 999px;
    background: #2e80ce;
}

.btn:hover {
    color: #2e80ce;
    background: #fff;
}
.heading {
    color: var(--bg--color);
    font-size: 5rem;
    font-weight: 600;
    line-height: 1.2; /* 120% */
    letter-spacing: -1px;
}
.desc {
    color: #575f66;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.66; /* 166.667% */
}
/* Header */

.header {
    background: var(--bg--color);

    height: 100vh;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 36px 0;
}

.logo {
    font-size: 1rem;
    display: flex;
}
.logo__cirle {
    display: flex;
    position: relative;
}

.logo__cirle:before,
.logo__cirle:after {
    content: "";
    display: inline-block;
    border-radius: 999px;
}
.logo__cirle:before {
    background: #2e80ce;
    width: 3em;
    height: 3em;
}
.logo__cirle:after {
    position: absolute;
    top: 1.1em;
    left: 1.1em;
    background: #fff;
    width: 1.6em;
    height: 1.6em;
}
.logo__text {
    margin-left: 0.6em;
    text-align: right;
}

.logo__brand {
    display: block;
    color: #fff;
    font-size: 1.8em;
    font-weight: 400;
}

.logo__brand--small {
    font-size: 1.2em;
    font-weight: 300;
}

.navbar {
    display: flex;
}
.navbar__item {
    color: #c9d2da;
    font-size: 1.6rem;
    font-weight: 300;
    margin-left: 4.2rem;
}
.navbar__item:hover {
    color: #fff;
}

.navbar__item--cirle {
    color: #fff;
    font-size: 1.6rem;
    font-weight: 400;
    position: relative;
}
.navbar__item--cirle:before {
    position: absolute;
    display: inline-block;
    top: 4px;
    left: -15px;
    content: "";
    background: #fff;
    width: 6px;
    height: 6px;
    border-radius: 999px;
}

.header-top__actions--sign-up {
    margin-left: 28px;
    height: 44px;
}

/* heading body */

.header-body {
    display: flex;
    height: calc(100vh - 114px);
    align-items: center;
}
.header-body__text {
    width: 44%;
}

.header-body__text--title {
    color: #fff;
    font-size: 7rem;
    font-weight: 600;
    letter-spacing: -1.4px;
    line-height: 1.14; /* 114.286% */
}

.header-body__text--desc {
    color: #c9d2da;
    font-size: 1.8rem;
    font-weight: 300;
    margin-top: 22px;
    line-height: 1.66;
    text-align: center;
}

.header-body__text--actions {
    display: flex;
    align-items: center;
    margin-top: 38px;
}
.header-body__text--btn {
    height: 60px;
    min-width: 205px;
}
.header-body__text--call-text {
    color: #fff;
    font-size: 1.8rem;
    font-weight: 400;
    margin-left: 38px;
}
.header-body__images {
    display: flex;
    align-items: center;
    margin-left: 113px;
}

.header-body__images--item-1,
.header-body__images--item-2 {
    border-radius: 6px;
    object-fit: cover;
}

.header-body__images--item-1 {
    width: 330px;
    height: 540px;
    z-index: 1;
}
.header-body__images--item-2 {
    width: 210px;
    height: 410px;
    margin-left: -6px;
}
/* Hero */

.hero {
    margin: 170px;
}
.hero-box__heading {
    max-width: 468px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: auto;
}
.hero-box__heading--sub-title {
    color: var(--bg--color);
    font-size: 5rem;
    font-weight: 600;
    letter-spacing: -1px;
}

.hero-box__heading--desc {
    padding-top: 18px;
    line-height: 1.66;
}

.hero-box__body {
    display: flex;
    margin-top: 70px;
}

.hero__images--item {
    width: 570px;
    height: 570px;
    border-radius: 12px;
    object-fit: cover;
}
.hero-box__body--cards {
    padding: 35px 0 0 130px;
}
.hero-box__body--card {
    display: flex;
    padding: 22px 0 0 21px;
    width: 470px;
}
.hero-box__body--card:hover {
    box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.05);
}

.hero-box__body--card:hover .hero-box__body--icon-svg {
    color: #fff;
}
.hero-box__body--card:hover .hero-box__body--icon {
    background: #2e80ce;
}

.hero-box__body--icon {
    width: 60px;
    height: 60px;
    padding: 15px;
    border-radius: 50%;
    background: #eff6fd;
    transition: 0.25s;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}
.hero-box__body--icon-svg {
    height: 24px;
    width: 22px;
    color: #10375c;
    /* margin: auto; */
}

.hero-box__body--info {
    margin-left: 19px;
}

.hero-box__body--mini-title {
    color: var(--bg--color);
    font-size: 1.8rem;
    font-weight: 600;
}

.hero-box__body--desc {
    font-size: 1.6rem;
    line-height: 1.75; /* 175% */
    margin: 8px 0 20px;
}

.hero-box__body--btn {
    min-width: 205px;
    height: 60px;
    margin-top: 55px;
}

.hero-box__body--btn:hover {
    color: #fff;
    background: #2e80ce;
    opacity: 90%;
}

/* Work */

.work {
    background: #f6fbff;
}
.work__heading {
    width: 468px;
}

.work__heading--sub-title {
    padding-top: 100px;
}
.work__heading--desc {
    padding-top: 18px;
}

.work__list {
    padding: 86px 0 100px;
    display: flex;
}
.work__list--card {
    width: 338px;
    flex-shrink: 0;
    border: 16px solid #eaf6ff;
    border-radius: 4px;
    background: #fff;
    padding: 43px;
    margin-left: 30px;
    transition: 0.3s;
}

.work__list--card:first-child {
    margin-left: 0;
}
.work__list--card:hover {
    transform: translate(0, -20px);
    border: 16px solid #2e80ce;
}

.work__list--card:hover .work__list--btn-learn-more {
    color: #2e80ce;
}

.work__list--card-body {
    width: 254px;
}

.work__list--icon {
    width: 72px;
    height: 72px;
}

.work__list--heading {
    margin-top: 18px;
    font-size: 2.6rem;
    font-weight: 600;
    line-height: 1.38; /* 138.462% */
}

.work__list--desc,
.work__list--btn-learn-more {
    font-size: 1.6;
    line-height: 1.75; /* 175% */
    margin-top: 28px;
}

.work__list--btn-learn-more {
    display: inline-block;
    margin-top: 18px;
}
